html {
    min-width: 1350px;
    background-color: whitesmoke;s
}
.button {
    border-radius: 2px;
    width: 167px;
    height: 32px;
    font: 400 16px LabGrotesque;
    text-transform: uppercase;
    cursor: pointer;
}

.blackwood-theme {
    color: #ffffff;
    background-color: #00b0eb;
    box-shadow: 0px 1px 0.5px 0.50px rgba(53, 112, 155, 0.75);
}

.switch {
    display: flex;
    flex-direction: row;
    width: 160px;
}

.switch-button input {
	cursor: pointer;
	height: 100%;
	opacity: 0;
	position: absolute;
	width: 100%;
	z-index: 100;
    top: 0;
}

.switch-button label {
    background: -webkit-linear-gradient(90deg, #4194d0 0%, #78b0d9 100%);
    background: -moz-linear-gradient(90deg, #4194d0 0%, #78b0d9 100%);
    background: -o-linear-gradient(90deg, #4194d0 0%, #78b0d9 100%);
    background: -ms-linear-gradient(90deg, #4194d0 0%, #78b0d9 100%);
    background: linear-gradient(0deg, #4194d0 0%, #78b0d9 100%); 
    width: 78px;
    height: 32px;
    display: block;
}

.switch-button input:checked~label {
    background: #68a2cc;
    color: rgba(231, 230, 230, 0.82);
}

.switch-button input:checked~label .switch-button--text {
    color: rgba(231, 230, 230, 0.82);
}

.switch-button--text {
    color: #ffffff;
    font: 700 14px LabGrotesque;
    text-align: center;
    line-height: 32px;
    display: block;
    width: 100%;
}

.switch-button {
    position: relative;
    width: 78px;
    height: 32px;
    cursor: pointer;
    display: block;
}
