
.materials {
    margin: 0 75px 65px;
}

.materials__title {
    color: #434242;
    font: 400 20px LabGrotesque;
    margin-bottom: 25px;
}

.materials__row {
    margin-bottom: 50px;
}

.materials-filter {
    display: flex;
    flex-direction: row;
    margin-bottom: 25px;
    height: 30px;
}

.materials-list {
    display: flex;
    flex-direction: row;
    margin-bottom: 120px;
}

.materials-list-item {
    width: 186px;
    margin-right: 30px;
    box-shadow: 1px 2px 0px 0.00px rgba(219, 219, 219, 0.75);
    cursor: pointer;
}

.materials-list-wrapper-image {
    height: 122px;
    overflow: hidden;
    width: 100%;
    position: relative;
}

.materials-list-wrapper-image img {
    width: 100%;
    height: auto;
}

.materials-list-item-content__title {
    color: #434242;
    font: 400 16px LabGrotesque;
    text-align: center;
    margin-bottom: 10px;
}

.materials-list-item-content__subtitle {
    color: #68a2cc;
    font: 400 12px LabGrotesque;
    text-align: center;
    display: block;
    width: 100%;
}

.materials-list-item-content {
    padding: 15px 20px 20px;
    background-color: #ffffff;
}

.image-material-1 {
    background: url("../../../assets/Material 1.png") center top no-repeat;
    background-size: cover;
}

.image-material-2 {
    background: url("../../../assets/Material 2.png") center center no-repeat;
    background-size: cover;
}

.image-material-3 {
    background: url("../../../assets/Material 3.png") center top no-repeat;
    background-size: cover;
}

.image-material-4 {
    background: url("../../../assets/Material 4.png") center center no-repeat;
    background-size: contain;
}

.video-player {

}

.video-player::before {
    content: '';
    width: 43px;
    height: 43px;
    background: url(assets/Ellipse-1.png);
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    cursor: pointer;
}

.video-player::after {
    content: '';
    width: 17px;
    height: 20px;
    background: url(assets/Rektangel-4.png) center center no-repeat;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    right: 0;
    left: 5px;
    cursor: pointer;
}

.materials-filter__item {
    position: relative;
    margin-right: 20px;
    line-height: 34px;
    padding-left: 25px;
}

.materials-filter__item:first-child {
    padding-right: 20px;
    border-right: 1px solid black;
}

.materials-filter__item input {
    opacity: 0;
    position: absolute;
    width: 18px;
    height: 18px;
    z-index: 2;
    cursor: pointer;
    top: 2px;
    left: 0;
    margin: auto;
    top: 0;
    bottom: 0;    
}

.materials-filter__item label {
    background-color: #e8e8e8;
    border-color: #a0a0a0;
    border-radius: 2px;
    border-style: solid;
    border-width: 0.73px;
    position: absolute;
    width: 16px;
    height: 16px;
    left: 0;
    margin: auto;
    top: 0;
    bottom: 0;
}

.materials-filter__item input:checked~label::after {
    content: '';
    background: url(assets/Rektangel-6.png) center center no-repeat;
    width: 11px;
    height: 11px;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
